.vagrant/

/ipa/bin
/ipa/inventory
/ipa/rpms/*
!/ipa/rpms/README

/ipademo/bin
/ipademo/inventory
/ipademo/rpms/*
!/ipademo/rpms/README

/pki/rpms/*
!/pki/rpms/README

/vagrantbuilder/*.sh

*.pyc
__pycache__
venv/
playbook.retry
