
module lxc-rootfs 1.0;

require {
	type unconfined_t;
	class dir mounton;
}

#============= unconfined_t ==============

#!!!! The file '/usr/lib64/lxc/rootfs/proc/1/net' is mislabeled on your system.  
#!!!! Fix with $ restorecon -R -v /usr/lib64/lxc/rootfs/proc/1/net
allow unconfined_t self:dir mounton;
