[defaults]
# Fedora 23 doesn't come with Python 2. The bootstrap role installs
# Python 2 and gathers facts once Python 2 is available.
gathering=explicit
retry_files_enabled=False

[ssh_connection]
pipelining=True
# disable GSSAPI to avoid delays
ssh_args = -o PreferredAuthentications=publickey  -o ControlMaster=auto -o ControlPersist=1200s -o UserKnownHostsFile=/dev/null

[privilege_escalation]
become=True
become_method=sudo
become_user=root

